/* src/App.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: #2e2e2e;
  padding: 20px;
  color: #f4f4f9;  /* Cambiamos el color a un claro */
}

h1, h2 {
  color: #f4f4f9;  /* Cambiamos el color a un claro */
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 90%;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
  color: #333;  /* Cambiamos el texto de la tabla a negro */
}

th {
  background-color: #555;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:nth-child(odd) {
  background-color: #fff;
}

input {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 22px); /* Ajusta el ancho para que encaje en el contenedor */
  font-size: 16px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.search-input {
  margin-bottom: 20px;
  width: calc(100% - 22px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
